<!DOCTYPE html>
<html lang="en">
<head>
    <!-- include header -->
    <%- include('include/_header')%>
    <!-- /include header -->
    <title>Home</title>
</head>
<body>
    <!-- include navbar -->
    <%- include('include/_navbar')%>
    <!-- /include navbar -->
     <!-- main body --> 
      <!-- banner-area -->
      <section id="banner-area">
        <div class="owl-carousel owl-theme  mt-0">
          <div class="item row">
            <div class="col-6">
              <div class="display-4 container " style="margin-top: 30%;margin-right: 10%;margin-left: 10%;">
                <span class="Source font-weight-bold text-uppercase">
                  Good people,<br> good food,<br> good time.
                </span>
              </div>
            </div>
            <div class="col-6"><img src="img/banner-1.jpg" alt="banner-1" srcset="">
            </div>
          </div>
          <div class="item row">
            <div class="col-6">
              <div class="display-4 container " style="margin-top: 30%;margin-right: 10%;margin-left: 10%;">
                <span class="Source font-weight-bold text-uppercase">
                  First,<br> we eat. <br>Then,<br> we do everything else.
                </span>
              </div>
            </div>
            <div class="col-6"><img src="img/banner-2.jpg" alt="banner-2" srcset="">
            </div>
          </div>
          <div class="item row">
            <div class="col-6">
              <div class="display-4 container " style="margin-top: 30%;margin-right: 10%;margin-left: 6%;">
                <span class="Source font-weight-bold text-uppercase">
                  9 out of 10 people love chocolate. <br>
                  And the 10th person is always lying. 
                </span>
              </div>
            </div>
            <div class="col-6"><img src="img/banner-3.jpg" alt="banner-3" srcset="">
            </div>
          </div>
      </div>
      </section>
      <!-- !banner-area -->
      <!-- Our-chef -->
      <section id="our-chef" class="py-5">
        <!-- our chef heading -->
        <div class="text-center">
          <h1 class="pacifico text-danger">Our Chef</h1>
          <div class="h1 text-muted pacifico"><u>Master Chef</u></div>
        </div>
        <!-- our chef heading -->
        <!-- chef profile card -->
        <div class="owl-carousel owl-theme container p-3">
          <!-- chef-card-1 -->
          <div class="item ">
            <div class="row shadow " >
              <!-- chef profile -->
              <div class="col-4">
                <img src="img/Sanjeev Kapoor.jpg" alt="chef-1" class="img-fluid rounded">
              </div>
              <!-- chef description -->
              <div class="col-4 mx-auto py-5">
                <span class="text-dark h3 pb-2 text-uppercase Roboto">Sanjeev Kapoor</span><br><br>
                <span class="h5  text-muted">Sanjeev Kapoor is the most famous and commended face as the most favorite among top 10 chefs in India. He has great name in Indian food today.</span>
                <br><br>
                <span>-Kitchen Manager</span>
              </div>
              <!-- chef Social-Media -->
              <div class="col-4 py-5">
                <h1 class="Roboto text-danger">Social Media</h1>
                <div class="d-flex flex-column">
                  <span><i class="fab fa-facebook-square text-primary px-2"></i><a href="#" class="text-dark text-decoration-none text-light ">Facebook</a></span><br>
                  <span><i class="fab fa-instagram text-danger px-2"></i><a href="#" class="text-dark text-decoration-none">Instagram</a></span><br>
                  <span><i class="fab fa-twitter text-primary px-2"></i><a href="#" class="text-dark text-decoration-none">Twitter</a></span><br>
                  <span><i class="fab fa-youtube text-danger px-2"></i><a href="#" class="text-dark text-decoration-none">Youtube</a></span><br>
                </div>
              </div>
            </div>
          </div>
          <!-- chef-card-1 -->
          <!-- chef-card-2 -->
          <div class="item ">
            <div class="row shadow " >
              <!-- chef profile -->
              <div class="col-4">
                <img src="img/Madhur Jaffrey.jpg" alt="chef-2" class="img-fluid rounded">
              </div>
              <!-- chef description -->
              <div class="col-4 mx-auto py-5">
                <span class="text-dark h3 pb-2 text-uppercase Roboto">Madhur Jaffrey</span><br><br>
                <span class="h5 text-muted">Madhur Jaffrey born in Delhi however she learnt cooking when she came to Britain in the mid-Fifties to learn at the Royal Academy of Dramatic Arts (Rada).</span>
                <br><br>
                <span>-Head Chef (or Executive Chef)</span>
              </div>
              <!-- chef Social-Media -->
              <div class="col-4 py-5">
                <h1 class="Roboto text-danger">Social Media</h1>
                <div class="d-flex flex-column">
                  <span><i class="fab fa-facebook-square text-primary px-2"></i><a href="#" class="text-dark text-decoration-none">Facebook</a></span><br>
                  <span><i class="fab fa-instagram text-danger px-2"></i><a href="#" class="text-dark text-decoration-none">Instagram</a></span><br>
                  <span><i class="fab fa-twitter text-primary px-2"></i><a href="#" class="text-dark text-decoration-none">Twitter</a></span><br>
                  <span><i class="fab fa-youtube text-danger px-2"></i><a href="#" class="text-dark text-decoration-none">Youtube</a></span><br>
                </div>
              </div>
            </div>
          </div>
          <!-- chef-card-2 -->
          <!-- chef-card-3 -->
          <div class="item ">
            <div class="row shadow " >
              <!-- chef profile -->
              <div class="col-4">
                <img src="img/Vikas Khanna.jpg" alt="chef-3" class="img-fluid rounded">
              </div>
              <!-- chef description -->
              <div class="col-4 mx-auto py-5">
                <span class="text-dark h3 pb-2 text-uppercase Roboto">Vikas Khanna</span><br><br>
                <span class="h5  text-muted">A renewed name as winning Michelin star culinary expert competition and second most popular one among top ten in India is Vikas Khanna. </span>
                <br><br>
                <span>-Station Chef (or Chef de Partie) </span>
              </div>
              <!-- chef Social-Media -->
              <div class="col-4 py-5">
                <h1 class="Roboto text-danger">Social Media</h1>
                <div class="d-flex flex-column">
                  <span><i class="fab fa-facebook-square text-primary px-2"></i><a href="#" class="text-dark text-decoration-none">Facebook</a></span><br>
                  <span><i class="fab fa-instagram text-danger px-2"></i><a href="#" class="text-dark text-decoration-none">Instagram</a></span><br>
                  <span><i class="fab fa-twitter text-primary px-2"></i><a href="#" class="text-dark text-decoration-none">Twitter</a></span><br>
                  <span><i class="fab fa-youtube text-danger px-2"></i><a href="#" class="text-dark text-decoration-none">Youtube</a></span><br>
                </div>
              </div>
            </div>
          </div>
          <!-- chef-card-3 -->
        </div>
        <!-- chef profile card -->
      </section>
      <!-- !Our-chef -->
      <!-- about-us -->
      <section id="about-us">
        <div class="container-fluid pt-5">
          <!-- heading-about-us -->
            <h1 class="text-center py-5 pacifico text-danger"><u>About Us</u></h1>
            <!-- <hr class="mx-auto w-50 bg-dark"> -->
          <!-- heading-about-us -->
          <!-- about-us-card -->
            <div class="container text-center">
              <div class="row about-us-card" >
                <div class="col-5">
                  <img src="img/About-Us.png" alt="" srcset="" class="img-fluid" style="height: 100%; width: 100%;">
                </div>
                <div class="col-4 Comic font-size-20">
                  <span>Never miss an recipe from food crazy 
                    Stay healthy and learn something new everyday...</span>
                  <br>
                  <div class="btn btn-danger text-white rounded-pills shadow Comic my-3">About Us</div>
                </div>
              </div>
            </div>
          <!-- about-us-card -->
        </div>
      </section>
      <!-- !about-us -->
      <!-- !gallary -->
      <section id="gallery">
        <div class="container">
          <!-- heading -->
          <div class="text-center py-5">
            <span class="text-danger h1 pacifico">Gallary</span>
          </div>
          <!-- heading -->
          <!-- gallary-box -->    
            <div class="container">
              <div id="buttons"></div>
              <div id="gallery">
                <img data-tags="Chicken" src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/recipe-image-legacy-id-1035613_10-0e544b7.jpg?quality=90&webp=true&resize=351,220" alt="" />
                <img data-tags="Drink" src="https://images.unsplash.com/flagged/photo-1572951351615-0c892383dbe1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8ZHJpbmt8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" />
                <img data-tags="Drink" src="https://images.unsplash.com/photo-1609777182735-b3db74cb6276?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzd8fHdpbmV8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" />
                <img data-tags="Lunch" src="https://images.unsplash.com/photo-1577308856961-8e9ec50d0c67?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8bHVuY2h8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" />
                <img data-tags="Wine" src="https://images.unsplash.com/photo-1587773403675-ba676c122bf3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8YWxjb2hvbHxlbnwwfDB8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" />
                <img data-tags="Lunch" src="https://images.unsplash.com/photo-1576866206724-c696f4c9fa06?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fGx1bmNofGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" />
                <img data-tags="Chicken" src="https://images.unsplash.com/photo-1544120379-4428412e6568?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTd8fGNoaWNrZW4lMjBmb29kfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60/grayscale" alt="" />
                <img data-tags="Lunch" src="https://images.unsplash.com/flagged/photo-1585395332720-70311195735d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjZ8fGx1bmNofGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" />
                <img data-tags="Chicken" src="https://images.unsplash.com/photo-1562967914-01efa7e87832?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fGNoaWNrZW4lMjBmb29kfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60&&resize=351,220" alt="" />
                <img data-tags="Chicken" src="https://images.unsplash.com/photo-1607329367978-0a651fdd8edb?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDR8fGNoaWNrZW4lMjBmb29kfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" />
              </div>
              <br />
            </div>
          <!-- gallary-box -->
        </div>
      </section>
      <!-- !gallary -->
    <!-- !main body -->
    <!-- include footer -->
    <%- include('include/_footer')%>
    <!-- /include footer -->
    <!-- include script -->
    <%- include('include/_script')%>
    <!-- /include script -->
</body>
</html>