<!-- footer -->
<section id="footer">
    <div class="container-fluid bg-danger">
      <div class="container text-white py-5">
        <div class="row">
          <div class="col-6">
            <div class="d-flex flex-column">
              <span class="h2 pacifico ml-5">Craxy Food</span>
              <span class="h6 text-light text-center w-50 mt-3">“ Good food is all the sweeter when shared with good friends. ”</span>
            </div>
          </div>
          <div class="col-3">
            <h1 class="Roboto h3 text-light">Social Media</h1>
                <div class="d-flex justfy-content-between">
                  <span><i class="fab h1 text-center fa-facebook-square text-light px-2"></i><a href="#" class="text-light text-decoration-none">Facebook</a></span><br>
                  <span><i class="fab h1 text-center fa-instagram text-light px-2"></i><a href="#" class="text-light text-decoration-none">Instagram</a></span><br>
                  <span><i class="fab h1 text-center fa-twitter text-light px-2"></i><a href="#" class="text-light text-decoration-none">Twitter</a></span><br>
                  <span><i class="fab h1 text-center fa-youtube text-light px-2"></i><a href="#" class="text-light text-decoration-none">Youtube</a></span><br>
                </div>
          </div>
        </div>
      </div>
      <!-- copyright -->
      <div class="text-center p-3">
      <span class=" text-white">Craxy-food.2021@reseved <a href="#" class="text-dark">by Shubham Bhuvad</a></span>
      </div>
    </div>
  </section>
  <!-- !footer -->