 <!-- primary navigation -->
 <section id="primary-navbar">
   <div class="adminHomeButton bg-danger text-white ">
      <div class="container-fluid mx-5 ">
        <a href="/admin-login" class="text-white"><i class="fas fa-home "></i><span class="pl-2">Admin</span></a >
      </div>
   </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
      <a class="navbar-brand container pacifico" href="/">Craxy Food</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto Roboto">
          <li class="nav-item">
            <a class="nav-link text-light" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/menu">Menu</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-light" href="/#our-chef">Our-Chef</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/#about-us">About</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link text-light" href="/share-recipe">Share-Your-Recipe </a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search" autocomplete="off" > 
          <input type="search" name="search" id="" class="form-control mr-sm-2" placeholder="Search Recipe...">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </section>
  <!-- !primary navigation -->